name: build

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - '**.md'
jobs:
  test:
    name: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        go: [1.18]

    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Check out code
        uses: actions/checkout@v3

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3

      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Test
        run: make test

      - name: Build
        run: make build
